ion-back-button {
    color: grey;
}

#title{
    position:absolute;
    top: 5%; 
    left: 40%; 
    color:white;
}

#settings{
    position:absolute;
    top: 10%; 
    left: 4%; 
    color:white;
    font-size: 105%
}

#option{
    position:absolute;
    top: 23%; 
    left: 4%; 
    color:white;
    font-size: 105%
}