
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <body style = "background-color: rgb(33, 33, 48);">
      <div id = "title">
      <h1>About</h1>
    </div>
 
    <div id = "details">
      <br>
      <br>

      <p style = "font-weight: bold;">
        My Weather is an app for you to access real time weather information at any time from your device
      </p>

      <p style = "font-size: 90%; text-align: centre; font-weight: bold;">
        <br>
        Home Page
      </p>


      <p style = "font-size: 90%; text-align: centre;">
        From the search bar at the top of the home page, 
        type in any location anywhere in the world and
        <br>
        you will be able to view what the weather is like 
        <br>
        at that location.
        <br>
        <br>
        We show you the daily temperature of your chosen location, what the temperature feels like, 
        <br>
        and details on weather specifics such as, 
        <br>
        <br>
        Humidity
        <br>
        Visibility
        <br>
        Pressure
        <br>
        Wind Speed
      </p>

      <p style = "font-weight: bold;">
        <br>
        Settings
        <br>        
      </p>

      <p style = "font-size: 90%; text-align: centre;">
        In the Settings page you are given a choice on whether you would like to set your
        temperature
        <br>
        unit as Celcius, Fahrenheit or Kelvin. Click save 
        <br>
        and your preferred unit will be set.
      </p>


    </div>
  </body>

</ion-content>
