#aboutPage{//containers for each div in .html that set properites to format what the app looks like
    background-color: #f8f9fa; 

}

ion-back-button{
    color: grey;
}

#title{
    position:absolute;
    top: 5%; 
    left: 40%; 
    color:white;
}

#details{
    position:absolute;
    top: 10%; 
    left: 4%; 
    color:white;
    font-size: 105%
}
