<ion-header>
  <ion-list>
    <ion-item>
      <ion-select placeholder="County" (ionChange)="navigateTo($event)"><!--ion change to call method when selections change-->
        <div slot="label">Select location</div>
        <ion-select-option value="Dublin">Dublin</ion-select-option><!--ion selection option so user can selecgt which location theyd like to see weather for-->
        <ion-select-option value="Galway">Galway</ion-select-option>
        <ion-select-option value="Belfast">Belfast</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
    <div id = "settings">   
      <p [routerLink]="['/belsettings']">Settings</p> <!--to bring user to settings page when settings is pressed-->
    </div>
  
  <div id = "about">   
    <p [routerLink]="['/about']">About</p><!--to bring me to about page when settings is pressed-->
  </div>
     
    <div id="img"><!-- all info in their own divs so i can place them in specific places in .scss -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Sky.jpg" height = "1000"/>
    </div>
   
    <div id="location"> <!--displaying county name and country-->
      {{ name }}, {{ country }}
    </div>
  
    <div id="weather"> <!--displaying temperature with preferred unit-->
      {{ temp | number:'1.0-0' }}°{{ unit.charAt(0) }} 
    </div>
  
    <div id="description"><!--displaying feels like temp and description-->
      Feels Like: {{ feels_like | number:'1.0-0' }}°{{ unit.charAt(0) }} {{ description }} 
     </div>
  
    <div id="details"><!--displaying more in depth weather details-->
      <p>Humidity: {{ humidity }}%</p>
      <p>Visibility: {{ visibility / 1000 }} km</p>
      <p>Pressure: {{ pressure }} hPa</p>
      <p>Wind Speed: {{ speed }} m/s</p>  
    </div>

    <div id="belfastCoords"><!--displaying county coordinates-->
      <p>Belfast coordinates</p>
      {{ belLat }},{{ belLong }}
    </div>
  
    <div id = "userCoords"><!--displaying user coordinates-->
      <ion-button color="medium" (click)="getGPS()">Show my coordinates</ion-button><!--click method called when user clicks button-->
      <br>
      {{lat}}, {{long}}
      </div> 
  
   
  
  </ion-content>